<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Rate</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </tbody>
</table>

