<% cache @book do %>
  <%= render partial: 'book_details', locals: { book: @book } %>

  <h4>Comments</h4>
  <% @book.comments.each do |comment| %>
    <% cache comment do %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  <% end %>
<% end %>

