<% cache @book do %>
  <%= render partial: 'book_details', locals: { book: @book } %>
  <%= render partial: 'top_rated' %>

  <div class='comments'>
    <h4>Comments</h4>
    <%= render partial: 'comments/comment', collection: @book.comments, cached: true %>
  </div>
<% end %>

