// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td, .comment {
   border: 1px solid black;
}

.book-details, .top-rated, .comments {
  display: inline-block;
}

.book-details {
  float: left;
  max_width: 750px;
}

.top-rated {
  float: right;
}

